In [1]:
"""Q1: What is a database? Differentiate between SQL and NoSQL databases.
Ans:

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
It is a system that stores and manages data, making it easy to retrieve, update, and manipulate as needed.

SQL vs NoSQL:
SQL databases define and manipulate data-based structured query language (SQL). SQL databases are relational databases, 
meaning they organize data into tables with defined relationships between them. SQL databases are most commonly used for 
complex queries and complex transactions. Examples of popular SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases are non-relational databases, meaning they don't use tables with predefined relationships between them.
Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value
store. NoSQL databases are highly scalable and can handle large volumes of data with high throughput rates.
Examples of popular NoSQL databases include MongoDB, Amazon DynamoDB etc."""

"Q1: What is a database? Differentiate between SQL and NoSQL databases.\nAns:\n\nA database is an organized collection of structured information, or data, typically stored electronically in a computer system.\nIt is a system that stores and manages data, making it easy to retrieve, update, and manipulate as needed.\n\nSQL vs NoSQL:\nSQL databases define and manipulate data-based structured query language (SQL). SQL databases are relational databases, \nmeaning they organize data into tables with defined relationships between them. SQL databases are most commonly used for \ncomplex queries and complex transactions. Examples of popular SQL databases include MySQL, Oracle, and Microsoft SQL Server.\n\nNoSQL databases are non-relational databases, meaning they don't use tables with predefined relationships between them.\nData is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value\nstore. NoSQL databases are highly scalable and can handle large volumes of data with high throughput rates.\nExamples of popular NoSQL databases include MongoDB, Amazon DynamoDB etc."

In [3]:
"""Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans: 

DDL stands for Data Definition Language, which is used to create and modify the structure of database objects such as tables,
indexes, views, and constraints. It is a subset of SQL (Structured Query Language).

CREATE: The CREATE command is used to create a new database object such as a table, view, or index.
For e.g,
"""CREATE TABLE new_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30));"""

DROP: The DROP command is used to remove an existing database object such as a table or view.
For e.g,
"""DROP TABLE new_table;"""

ALTER: The ALTER command is used to modify the structure of an existing database object such as a table or view.
For e.g,
"""ALTER TABLE new_tablr ADD COLUMN added_com VARCHAR(50);"""

TRUNCATE: The TRUNCATE command is used to remove all rows from an existing table, while keeping the structure of 
the table intact.
For e.g:
"""TRUNCATE TABLE new_table;"""

'Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\nAns: \n\nDDL stands for Data Definition Language, which is used to create and modify the structure of database objects such as tables,\nindexes, views, and constraints. It is a subset of SQL (Structured Query Language).\n\nCREATE: The CREATE command is used to create a new database object such as a table, view, or index.\nFor e.g,\nCREATE TABLE new_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30));\n\nDROP: The DROP command is used to remove an existing database object such as a table or view.\nFor e.g,\nDROP TABLE new_table;\n\nALTER: The ALTER command is used to modify the structure of an existing database object such as a table or view.\nFor e.g,\nALTER TABLE new_tablr ADD COLUMN added_com VARCHAR(50);\n\nTRUNCATE: The TRUNCATE command is used to remove all rows from an existing table, while keeping the structure of \nthe table intact.\nFor e.g:\nTRUNCATE TABLE new_table;'

In [ ]:
"""Q3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans: 

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in a database.

INSERT: The INSERT command is used to insert new data into a table. 
For e.g,
"""INSERT INTO new_table(no, name, age)
   VALUES(1, Akram, 22)"""

UPDATE: The UPDATE command is used to modify existing data in a table.
For e.g,
"""UPDATE new_table SET age = 23 WHERE no = 1;"""

DELETE: The DELETE command is used to remove existing data from a table.
For e.g,
"""DELETE FROM new_table WHERE no = 1;"""

In [1]:
"""Q4: What is DQL? Explain SELECT with an example.
Ans:

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from
a database.

The SELECT statement is used to select data from a database.The data returned is stored in a result table.
SELECT Syntax:
SELECT column1, column2, ... FROM table_name WHERE condition;

1.Examples:
To select all columns from the "new_table" table:
SELECT * FROM new_table;

2.Examples:
To select specific columns from the "new_table" table:
SELECT no, name, age FROM new_table;

3.Examples:
To select all columns with a condition from the "new_table" table:
SELECT * FROM new_table WHERE no = 1;"""

'Q4: What is DQL? Explain SELECT with an example.\nAns:\n\nDQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from\na database.\n\nThe SELECT statement is used to select data from a database.The data returned is stored in a result table.\nSELECT Syntax:\nSELECT column1, column2, ... FROM table_name WHERE condition;\n\n1.Examples:\nTo select all columns from the "new_table" table:\nSELECT * FROM new_table;\n\n2.Examples:\nTo select specific columns from the "new_table" table:\nSELECT no, name, age FROM new_table;\n\n3.Examples:\nTo select all columns with a condition from the "new_table" table:\nSELECT * FROM new_table WHERE no = 1;'

In [1]:
"""Q5. Explain Primary Key and Foreign Key.
Ans:

A primary key is created using one or more columns in a table, and it is denoted by a key symbol or the PRIMARY KEY
constraint in database schema definitions.
Foreign keys help establish relationships, enforce constraints, and maintain data consistency across multiple tables in a 
relational database.They are denoted by a foreign key symbol or specified using the FOREIGN KEY constraint in database schema
definitions.

"""

'Q5. Explain Primary Key and Foreign Key.\nAns:\n\nA primary key is created using one or more columns in a table, and it is denoted by a key symbol or the PRIMARY KEY\nconstraint in database schema definitions.\nForeign keys help establish relationships, enforce constraints, and maintain data consistency across multiple tables in a \nrelational database.They are denoted by a foreign key symbol or specified using the FOREIGN KEY constraint in database schema\ndefinitions.\n\n'

In [ ]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

"""cursor() method:
The cursor() method is used to create a cursor object in Python that allows you to interact with the database. 
The cursor acts as a handle or control structure that enables you to execute SQL queries and retrieve the results. 
The cursor provides methods to execute queries, fetch data, and perform various database operations.
When you establish a connection to a database using a library like mysql-connector-python, you can create a cursor 
object using the cursor() method provided by the database connector. This method is typically called on the connection 
object, as shown in the example code.

execute() method:
The execute() method is used to execute SQL statements or queries through the cursor object. It allows you to send SQL 
statements to the database for execution.
To use the execute() method, you pass the SQL query or statement as a parameter to the method. The query can be a
SELECT, INSERT, UPDATE, DELETE, or any other valid SQL statement."""

In [ ]:
"""Q7. Give the order of execution of SQL clauses in an SQL query.
Ans:
The order of execution of SQL clauses in an SQL query is:

FROM: Specifies the source tables from which data will be retrieved.
JOIN: Performs any necessary join operations to combine rows from multiple tables.
WHERE: Applies filtering conditions to select specific rows that meet the given criteria.
GROUP BY: Groups the selected rows based on specified columns.
HAVING: Filters the grouped rows based on specified conditions.
SELECT: Specifies the columns or expressions to be included in the result set.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns or expressions.
LIMIT / OFFSET: Limits the number of rows returned and provides pagination support.
"""